body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(202, 186, 186, 0.1);
}

.buttCont {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sketchbox {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 2px 2px rgb(118, 113, 113);
    background-color: white;
}

.boxy {
    background-color: black;
    height: var(--max-height);
    width: var(--min-width);
    box-sizing: border-box;
    opacity: 0.0;
    
}

.rainy {
    background-color: white;
    height: var(--max-height);
    width: var(--min-width);
    box-sizing: border-box;

}

header {
    display: flex;
    flex: 1 1 auto;
    font-size: xx-large;
    max-height: 50px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}


button {
    background-color: #FEC868;
    box-shadow: none;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    font-size: xx-large;
    border: none;
}

:root {
    --max-height: 9.4px;
    --min-width: 9.4px;
}